## W4 Tutorial

In [1]:
import numpy as np

In [2]:
np.__version__

'1.24.3'

In [3]:
a = np.array([1,2,3,4,5])

In [4]:
a.dtype

dtype('int32')

In [5]:
a = np.array([1,2,3,4,5], dtype="int16")

In [6]:
a = np.array([1,2,3,4,5,2.5])

In [8]:
## now all the data will be automatically converted to float because there is 2.5
print(a,a.dtype)

[1.  2.  3.  4.  5.  2.5] float64

In [9]:
a = np.array([1,2,3,4,5,6])
a.dtype, a.size, a.itemsize, a.nbytes

(dtype('int32'), 6, 4, 24)

In [10]:
a = np.array([1,2,3,4,5,6,"hello"])
print(a, type(a), a.dtype)

['1' '2' '3' '4' '5' '6' 'hello'] <class 'numpy.ndarray'> <U11

all the data has been converted to string hecause of the "hello"

In [12]:
a = np.array([1,2,3,4,5,6,7,8,9])

In [13]:
a[0], a[1], a[-1]

(1, 2, 9)

In [14]:
len(a
   )

9

In [15]:
a[::]

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [16]:
a[1:5]

array([2, 3, 4, 5])

start : stop, start and stop values are not included

In [17]:
a[1:8:2]

array([2, 4, 6, 8])

start : stop : increment, the start and stop values are not included

In [19]:
a[0] = 99

In [20]:
a

array([99,  2,  3,  4,  5,  6,  7,  8,  9])

In [23]:
a[0:4] = 555

a[0] dekhi a[4] samma ko value lai 555 banau

In [22]:
a

array([555, 555, 555, 555,   5,   6,   7,   8,   9])

In [26]:
a = np.array([[1,2,3],[4,5,6]])
a

array([[1, 2, 3],
       [4, 5, 6]])

In [28]:
a.shape, a.size, a.itemsize, a.ndim

((2, 3), 6, 4, 2)

In [29]:
a = np.arange(1,31)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

In [31]:
a = np.arange(1,31).reshape(5,6)
a

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30]])

reshape(x,y) where x times y equals to the number of elements in a

In [33]:
a[0][0]

1

In [34]:
a[0]

array([1, 2, 3, 4, 5, 6])

In [36]:
a.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

flatten will turn a 2d array into a 1d array

In [37]:
a = [1,2,3]
b = [4,5,6]

print(a+b)

[1, 2, 3, 4, 5, 6]

In [38]:
a = np.array([1,2,3])
b = np.array([4,5,6])
c = a + b
print(c)

[5 7 9]

In [41]:
c = a - b
print(c, abs(c))

[-3 -3 -3] [3 3 3]

abs(x) means absolute value of x, i.e. |-5| = 5 and |5| = 5

In [42]:
np.zeros((3,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [43]:
np.zeros((3,5), dtype=int)

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

In [44]:
np.ones((1,5))

array([[1., 1., 1., 1., 1.]])

In [45]:
np.full((5,5),9)

array([[9, 9, 9, 9, 9],
       [9, 9, 9, 9, 9],
       [9, 9, 9, 9, 9],
       [9, 9, 9, 9, 9],
       [9, 9, 9, 9, 9]])

full fills the matrix with the given number

In [47]:
np.identity(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])