## Week 3 Tutorial

In [1]:
t1 = ('Tested', 4, 5, 6)
t1

('Tested', 4, 5, 6)

In [2]:
print(t1[3])

6

In [3]:
t1 = lsit(t1)

NameError: name 'lsit' is not defined

In [4]:
t1 = list(t1)

In [5]:
t1

['Tested', 4, 5, 6]

In [6]:
t1 = tuple(t1)

In [7]:
t1

('Tested', 4, 5, 6)

In [8]:
t1 = list(t1)
t1 = [1,2,3,4,5,6]
t1 = tuple(t1)

In [9]:
def addTwoNumbers():
    a = 22
    b = 33
    return a, b, a+b

In [10]:
res = addTwoNumbers()
print(res)

(22, 33, 55)

In [11]:
n1, n2, n3 = res = addTwoNumbers()
print(res)
print(n1, n2, n3)

(22, 33, 55)
22 33 55

In [13]:
t1

(1, 2, 3, 4, 5, 6)

In [14]:
for i in t1:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>

In [16]:
name = input("enter name: ").lower()

if name == "zwiii":
    print("wow zwiii")
else:
    print("not woww not zwiii")

enter name: zwiii
wow zwiii

In [17]:
s = {}
print(s, type(s))

{} <class 'dict'>

In [18]:
s = set()
print(s, type(s))

set() <class 'set'>

In [19]:
s = {2,3,4,5,1}
s, type(s)

({1, 2, 3, 4, 5}, set)

In [20]:
s = {1,1,1,3,3,3,2,4,5,5} # order follow hudaina ani duplicate value mandaina
print(s)

{1, 2, 3, 4, 5}

In [21]:
s  = {1,2,3,4,5,7,6,False}
s

{False, 1, 2, 3, 4, 5, 6, 7}

In [23]:
s = {2,1,3,4,5,True,False} # True ayena kina bhanne true = 1 and 1 ra 1 dekhera only 1 print garyo. 
s

{False, 1, 2, 3, 4, 5}

In [24]:
s = {0,1,2,3,4,5,True,False} # aba false pani audaina because 0 is there
s

{0, 1, 2, 3, 4, 5}

In [25]:
a = {1,2,3,4,5}
b = {1,2,3,7,9}

In [26]:
a.union(b)

{1, 2, 3, 4, 5, 7, 9}

In [27]:
a.intersection(b)

{1, 2, 3}

In [28]:
a.difference(b)

{4, 5}

In [29]:
a - b

{4, 5}

In [30]:
a,b

({1, 2, 3, 4, 5}, {1, 2, 3, 7, 9})

In [31]:
b - a

{7, 9}

In [34]:
a.intersection_update(b) # update a with the intersection le return gareko value

In [33]:
print(a)

{1, 2, 3}

In [35]:
a = {1,2,3,4,5}

In [36]:
print(a,b)

{1, 2, 3, 4, 5} {1, 2, 3, 7, 9}

In [38]:
a.symmetric_difference(b) #repeat nabhako value ig

{4, 5, 7, 9}

## Dictionary

In [39]:
student = {'name':'ram', 'age':22, 'mark': 88}

In [40]:
student

{'name': 'ram', 'age': 22, 'mark': 88}

In [41]:
student = {
    'name':'Zwiii',
    'age': 19,
    'mark': 88
}

In [42]:
student

{'name': 'Zwiii', 'age': 19, 'mark': 88}

In [43]:
student['name']

'Zwiii'

In [44]:
student.keys

In [45]:
student.keys()

dict_keys(['name', 'age', 'mark'])

In [46]:
student.values()

dict_values(['Zwiii', 19, 88])

In [47]:
student['address']

KeyError: 'address'

In [48]:
student['address'] = 'baneshwor -> tokha'

In [49]:
student

{'name': 'Zwiii', 'age': 19, 'mark': 88, 'address': 'baneshwor -> tokha'}

In [50]:
student.items()

dict_items([('name', 'Zwiii'), ('age', 19), ('mark', 88), ('address', 'baneshwor -> tokha')])

In [51]:
for i in student.keys():
    print(i)

name
age
mark
address

In [52]:
for i in student.values():
    print(i)

Zwiii
19
88
baneshwor -> tokha

In [53]:
for i in student.values():
    print(i, type(i))

Zwiii <class 'str'>
19 <class 'int'>
88 <class 'int'>
baneshwor -> tokha <class 'str'>

In [54]:
for i in student.items():
    print(i)

('name', 'Zwiii')
('age', 19)
('mark', 88)
('address', 'baneshwor -> tokha')

yo kina bhako ho bhanne i is expecting one value but gets two values instead
so it 'packs' the values in a tuple.

In [55]:
for i,j in student.items():
    print(i,j)

name Zwiii
age 19
mark 88
address baneshwor -> tokha

#UNPACKING

In [56]:
student = {
    'name': {
        'name1':'ktm',
        'name2':'brt',
        'name3':'pkr'
    },
    'country':'Nepal'
}

In [57]:
student['name']

{'name1': 'ktm', 'name2': 'brt', 'name3': 'pkr'}

In [59]:
student['name']['name1']

'ktm'

In [61]:
student['name']['name1'][0]

'k'